body{
    background:  rgb(0, 155, 245);
    color: #fff;
font-family: 'Exo 2', sans-serif;
}

div{

    display: flex;
    flex-direction: center;
    justify-content: center;
    
    
    width: 50%;
    height: 50%;


} 

use:hover {
    fill: #E55D76;
  cursor: pointer;
  }
  .state--selected use {
  fill: #F9BC5C;
  cursor: default;
  }

  
